  /* Basics */

  :root {
    --main-clr-b: black;
    --main-clr-w: white;
    --main-clr-g: grey;
  }
  
  html, body {
    scroll-behavior: smooth;
    box-sizing: border-box;
    margin: 0;
    background: var(--main-clr-b);
    overflow-x: hidden;
    height: 100%;
    width: 100%;
    position: relative;
  }

  .Home {
    max-width: 100vw;
    height: 100vh;
  }

  .Home-a {
    display: block;
    position: relative;
    visibility: hidden;
    top: -50px;
  }

  .Projects {
    min-width: 100vw;
    min-height: 100vh;
    background-color: var(--main-clr-w);
  }

  .Projects-a {
    display: block;
    position: relative;
    top: -39px;
    visibility: hidden;
  }

  .About-me{
    min-width: 100vw;
    min-height: 100vh;
  }

  .About-me-a {
    display: block;
    position: relative;
    top: -40px;
    visibility: hidden;
  }

  .Contact{
    position: relative;
    max-width: 100vw;
    min-height: 100vh;
    background-color: var(--main-clr-w);
  }

  .Contact-a {
    display: block;
    position: relative;
    top: -10px;
    visibility: hidden;
  }
  
    /*  Navbar */
  
  .navbar {
    background-color: var(--main-clr-w);
    padding: 11px;
    position: fixed;
    top: 0;
    display: flex;
    border: none;
    z-index: 12; 
    width: 100%;
  }
  
  .navbar .menu1 {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    z-index: 11;
    top: 0px;
  }
  
  .navbar .menu1-items {
    float: left;
    display: inline;
    list-style: none;
    padding: 0 1vw 0 1vw;
    z-index: 11;
  }
    
  .navbar .menu1-items a {
    display: block;
    font-weight: 600;
    max-height: 19px;
    overflow: hidden;
    position: sticky;
    text-decoration: none;
    text-transform: uppercase;
    z-index: 10;
  }
    
  .navbar .menu1-items a span {
    font-family: 'Poppins', sans-serif;
    color: var(--main-clr-w);
    display: block;
    transition: transform 0.5s ease;  
    z-index: 10;
  }
  
  #language {
    position: absolute;
    right: 5vh;
  }
    
  .navbar .menu1-items:hover:before {
    opacity: 0.5;
    transform: translateY(0);
    transition-delay: 0.5s;
  }
    
  .navbar .menu1-items a span:nth-child(1) {
    color: var(--main-clr-b);
  }
    
  .navbar .menu1-items:hover a span:nth-child(1) {
    transform: translateY(-100%);
  }
    
  .navbar .menu1-items a span:nth-child(2) {
    color: var(--main-clr-b);
  }
    
  .navbar .menu1-items:hover a span:nth-child(2) {
    transform: translateY(-100%);
  }
  
  /* Hides dropdown menu */
  
  .menu2-Button {
    visibility: hidden;
  }
  
  .menu2 {
    visibility: hidden;
  }
  
  .menu2-content {
    display: none;
    opacity: 0;
  }
  
   /* Mobile Navbar if screen smaller than 768px */
  
   @media only screen and (max-width: 768px) {
    
    .menu1-items {
      visibility: hidden;
    }
  
    #language {
      visibility: visible;
    } 
  
    /* Dropdown Menu) */
  
    .menu2-button {
      visibility: visible;
      list-style: none;
      background-color: var(--main-clr-w);
      top: 0;
      border: none;
      cursor: pointer;
      display: flex;
      padding: 0 0 0 0.5vw;
      min-height: 4vh;
      position: absolute;
      left: 0.5vh;
      z-index: 14;
    }
    
    .menu2 {
      width: 0px;
      visibility: visible;
      position: fixed;
      top: 0;
      z-index: 13;
    }
  
    .menu2-content {
      top: 40px;
      visibility: hidden;
      display: block;
      opacity: 100;
      position: absolute;
      background-color: var(--main-clr-w);
      min-width: 25vw;
      overflow: auto;
      box-shadow: 0px 0px 15px 0px var(--main-clr-w);
      opacity: 99%;
    }
    
    .menu2-content a {
      color: var(--main-clr-b);
      background-color: var(--main-clr-w);
      padding: 2.5vw 3vw;
      text-decoration: none;
      display: block;
      border: 1px solid var(--main-clr-b);
      font-size: 3vw;
    }

    .menu2-content a:hover {
      background-color: var(--main-clr-b);
      color: var(--main-clr-w);
    }
    
    .show {
      animation: menu2 0.5s;
      display: block;
      visibility: visible;
    }

    @keyframes menu2 {
      from {opacity: 0; transform: translateY(-20px);}
      to {opacity: 1; transform: translateY(0);}
    }
  
    /* Fancy Hamburger Icon */
  
    .ham {
      cursor: pointer;
      -webkit-tap-highlight-color: transparent;
      transition: transform 400ms;
      -moz-user-select: none;
      -webkit-user-select: none;
      -ms-user-select: none;
      user-select: none;
    }
  
    .hamRotate.active {
      transform: rotate(45deg);
    }
  
    .hamRotate180.active {
      transform: rotate(180deg);
    }
  
    .line {
      fill: none;
      transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
      stroke:var(--main-clr-b);
      stroke-width: 5.5;
      stroke-linecap: round;
    }
  
    .ham6 .top {
      stroke-dasharray: 40 172;
    }
    .ham6 .middle {
      stroke-dasharray: 40 111;
    }
    .ham6 .bottom {
      stroke-dasharray: 40 172;
    }
    .ham6.active .top {
      stroke-dashoffset: -132px;
    }
    .ham6.active .middle {
      stroke-dashoffset: -71px;
    }
    .ham6.active .bottom {
      stroke-dashoffset: -132px;
    }
  
  }
  
      /* Home carousel */
  
       .Home-carousel {
        position: relative;
        display: flex;
        max-height: 100vh;
        width: 100vw;
      }
  
      .Home-carousel .Home-carousel-slides {
        position: relative;
        z-index: 1;
        max-height: 50vh;
      } 

      .Home-carousel .Home-carousel-slides .slide{
        position: absolute;
        text-align: center;
        width: 30vw;
        left: 20vw;
        top: 8.2vh;
        opacity: 0;
        z-index: 3;
      } 

      #Profile-Pic {
        position: relative;
        max-height: 30vh;
        min-height: 300px;
        max-width: 50vw;
        transform: scale(0.7);
        border-radius: 50%;
        object-fit: contain;
        top: 1px;
      }

      #Myname {
        position: relative;
        color: white;
        font-size: 2.5vw;
        font-family: Lora, serif;
        line-height: 2.5;
        margin-top: -30px;
      }

      #Mytitle {
        position: relative;
        color: white;
        margin-top: -20px;
        font-size: 2vw;
        width: 100%;
        font-family: Lora, serif;
      }

      #slide-columns {
        position: relative;
        display: grid;
        grid-template-columns: 25vw;
        grid-template-areas: 
        "one two";
        top: 17vh;
        left: -40px;
        line-height: 5vh;
        max-height: 30vh;
      }

      #slide-column {
        color: var(--main-clr-w);
        font-size: 4vh;
        width: 20vw;
      }

      #slide-column li {
        position: relative;
        text-align: left;
        padding-top: 4px;
      }

      #slide-column li span {
        position: relative;
        left: 10px;
      }

      .Quote_container {
        position: relative;
      }

      .Quote {
        position: relative;
        color: var(--main-clr-w);
        font-size: 5vh;
        line-height: 7vh;
        width: 50vw;
        left: -10.3vw;
        top: 25vh;
      }

      .Home-carousel .Home-carousel-slides .slide.active{
        opacity: 1;
        position: relative;
        max-height: 20vh;
      } 
      
      .image-overlays {
        position: relative;
        width: 60vw;
        max-height: 80vh;
      }

      .image-overlays .bar {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        max-height: 100%;
        transform-origin: left;
      }
  
      .image-links {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin: 0;
        padding: 0 0 0 10vh;
        list-style-type: none;
        position: relative;
        top: 16.4vh;
        font-size: 5vh;
        width: 100%;
      }
  
      .nav-link {
        position: relative;
        font-size: 3.5vw;
        font-family: Lora, serif;
        line-height: 2.5;
        text-decoration: none;
        color: var(--main-clr-w);
        transition: 0.3s;
        z-index: 3;
      }
  
      .nav-link:hover {
        color: var(--main-clr-b);
        background-color: var(--main-clr-w);
        border-radius: 10px;
      }
  
      .nav-link.active {
        color: var(--main-clr-b);
        pointer-events: none;
        background-color: var(--main-clr-w);
        border-radius: 10px;
      }
  
      /* For screens with a maximum width of 768px */
@media only screen and (max-width: 768px) {
  
  .Home-carousel {
    position: relative;
    max-height: none;
    flex-direction: column;
    min-height: 100vh;
    overflow: hidden;
  }
  
  .Home-carousel .Home-carousel-slides .slide {
    position: relative;
    width: 100%;
    left: auto;
    top: -1vh;
  }
  
  #Profile-Pic {
    max-height: 30vh;
    max-width: 80vw;
    transform: none;
    margin-top: 10vh;
  }
  
  #Myname {
    font-size: 8vw;
    margin-top: -2vh;
  }
  
  #Mytitle {
    font-size: 7vw;
    margin-top: -4vh;
  }
  
  #slide-columns {
    position: relative; 
    top: -30vh; 
    justify-content: center;
    line-height: 3vh;
    column-gap: 20vw;
    z-index: 10;
    left: -20px;
  }
  
  #slide-column {
    font-size: 5vw;
    margin-top: 1vh;
    width: 100%;
  }
  
  .Quote {
    font-size: 8vw;
    width: 80vw;
    left: 12vw;
    top: -60vh;
    line-height: 4vh;
  }
  
  .image-overlays {
    width: 90vw;
    max-height: 50vh;
  }
  
  .image-links {
    padding: 0;
    top: 10vh;
    margin-top: 10vh;
    font-size: 8vw;
    align-items: center;
    z-index: 11;
  }
  
  .nav-link {
    font-size: 7.5vw;
    line-height: 2;
    padding: 5px 0;
  }

  .nav-link.active {
    color: var(--main-clr-b);
    pointer-events: none;
    background-color: var(--main-clr-w);
    border-radius: 10px;
    padding: 5px;
  }

}
  
  /* Projects */
  
   .Projects {
    position: relative;
    display: flex;
    flex-direction: row;
    text-align: center;
  }

  .Projects-cards {
    display: flex;
    flex-direction: row;
    text-align: center;
    font-size: 3.5vh;
  }

  .Projects-card {
    width: 100%;
    object-fit: contain;
    /* border: 1.5px solid black; */
    border-top: none;
  }
  
  #projects-video {
    width: 33.3vw;
    max-height: 33.3vh;
  }

  #projects-languages {
    display: table;
    margin: 0 auto;
    text-align: left;
  }

  #projects-languages li {
    padding-left: 10px;
  }

  .Projects-card a {
    color: var(--main-clr-w);
    text-decoration: none;
    transition: ease-in-out 0.5s;
  }

  .Projects-card a:hover {
    color: var(--main-clr-b);
  }

  .Projects-card button {
    background-color: var(--main-clr-b);
    border-radius: 5px;
    transition: ease-in-out 0.5s;
    font-size: 3vh;
    margin: 2vh;
    padding: 5px;
  }

  .Projects-card button:hover {
    background-color: var(--main-clr-w);
    transition: ease-in-out 0.5s;
  }

  @media (max-width: 768px) {
    .Projects {
      flex-direction: column;
    }
  
    .Projects-cards {
      flex-direction: column;
      font-size: 2.5vh;
    }

    .Projects-card {
      min-height: 80vh;
      padding-top: 2vh;
    }
  
    #projects-video {
      width: 100%;
      max-height: 50vh;
    }

    .projects-description {
      padding-bottom: 2.5vh;
      padding-top: 2.5vh;
    }
  
    .Projects-card button {
      font-size: 2vh;
      margin: 1vh;
    }
  }
  
  /* About Me */

  .About-me-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 22vh;
    color: var(--main-clr-w);
    min-width: 80vw;
    font-size: 3vh;
    line-height: 3.8vh;
    margin-left: 5vw; /* move the whole section 5vw to the right */
  }
  
  .About-me-content h1 {
    white-space: nowrap;
    margin-bottom: -13vh;
    align-self: flex-start;
    margin-right: auto; /* move h1 to the left, aligning with the start of p */
    position: relative;
    top: 5vh;
  }
  
  .About-me-text {
    display: flex;
    flex-direction: row;
    align-items: center; /* center vertically */
    position: relative;
    top: 5vh;
  }
  
  .About-me-text p {
    flex: 1;
    text-align: left;
    position: relative;
    z-index: 2;
  }
  
  .About-me-img {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
  }
  
  .About-me-img img {
    object-fit: contain;
    height: 50vh;
    width: 50vw;
    margin-left: 5vw; /* add some margin to the left to separate from the text */
    position: relative;
  }

  #Resume {
    text-decoration: underline;
    color: var(--main-clr-w);
    transition: ease-in-out 0.5s;
  }

  #Resume:hover {
    color: var(--main-clr-b);
    background-color: var(--main-clr-w);
    border-radius: 5px;
    text-decoration: none;
  }

  @media (max-width: 768px) {

    .About-me-text {
      display: flex;
      flex-direction: column; /* change direction to column */
      align-items: center; /* center horizontally */
      position: relative;
      top: 5vh;
    }

    .About-me-content h1 {
      margin-bottom: 1vh;
      margin-left: -3vw;
      position: relative;
      top: -10vh;
    }
    
    .About-me-text p {
      text-align: left;
      position: relative;
      font-size: 2vh;
      line-height: 3vh;
      margin-left: -4vw;
      margin-right: 1vw;
      margin-top: -10vh;
    }
    
    .About-me-img {
      display: flex;
      justify-content: center; /* center horizontally */
      align-items: center;
      position: relative;
      max-height: 40vh;
    }
    
    .About-me-img img {
      min-height: 100vh;
      min-width: 100vw;
      margin-left: -5vw;
    }

  }

  /* Contact */
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding-top: 10vh;
  }
  
  h1, p {
    text-align: center;
  }
  
    .logo-container {
    display: flex;
    }
    
    .logo-container img {
    width: 50px;
    height: 50px;
    margin-right: 0.5rem;
    }
  
  form {
    max-width: 500px;
    margin: 0 auto;
  }
  
  label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  input[type="text"],
  input[type="email"],
  textarea {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: none;
    border-radius: 4px;
    background-color: #f2f2f2;
    resize: none;
  }
  
  textarea {
    height: 150px;
  }
  
  input[type="submit"] {
    display: block;
    margin: 0 auto;
    padding: 5px 20px;
    border: none;
    border-radius: 4px;
    background-color: white;
    color: black;
    font-size: 16px;
    cursor: pointer;
    border: 3px solid black;
    box-shadow: 10px;
    transition: ease-in-out 0.5s;
    margin-bottom: 100px;
  }

  input[type="submit"]:hover {
    background-color: black;
    color: white;
  }

  footer {
    background-color: var(--main-clr-b);
    color: var(--main-clr-w);
    padding-top: 10px;
    padding-bottom: 10px;
    position: absolute;
    bottom: 0;
    min-width: 100%;
    left: 0;
  }
    
  
  
  